In [4]:
!pip install --user ibm_db
!pip install --user ibm_db_sa
!pip install --user ipython-sql

Requirement already satisfied: ibm_db in /opt/conda/envs/Python36/lib/python3.6/site-packages (2.0.9)
Requirement already satisfied: ibm_db_sa in /opt/conda/envs/Python36/lib/python3.6/site-packages (0.3.4)
Requirement already satisfied: ibm-db>=2.0.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ibm_db_sa) (2.0.9)
Requirement already satisfied: sqlalchemy>=0.7.3 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ibm_db_sa) (1.2.18)
Collecting ipython-sql
  Downloading https://files.pythonhosted.org/packages/ab/3d/0d38357c620df31cebb056ca1804027112e5c008f4c2c0e16d879996ad9f/ipython_sql-0.4.0-py3-none-any.whl
Collecting prettytable<1 (from ipython-sql)
  Downloading https://files.pythonhosted.org/packages/ef/30/4b0746848746ed5941f052479e7c23d2b56d174b82f4fd34a25e389831f5/prettytable-0.7.2.tar.bz2
Requirement already satisfied: ipython>=1.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython-sql) (7.2.0)
Collecting sqlparse (from ipython-sql)
  Downloading https://files.pythonhosted.org/packages/85/ee/6e821932f413a5c4b76be9c5936e313e4fc626b33f16e027866e1d60f588/sqlparse-0.3.1-py2.py3-none-any.whl (40kB)
     |████████████████████████████████| 40kB 8.5MB/s  eta 0:00:01
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython-sql) (1.2.18)
Requirement already satisfied: six in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython-sql) (1.12.0)
Requirement already satisfied: jedi>=0.10 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.13.2)
Requirement already satisfied: pickleshare in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: pexpect; sys_platform != "win32" in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.6.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (2.0.8)
Requirement already satisfied: pygments in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (2.3.1)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (40.8.0)
Requirement already satisfied: backcall in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: parso>=0.3.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.3.2)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: wcwidth in /opt/conda/envs/Python36/lib/python3.6/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Stored in directory: /home/dsxuser/.cache/pip/wheels/80/34/1c/3967380d9676d162cb59513bd9dc862d0584e045a162095606
Successfully built prettytable
Installing collected packages: prettytable, sqlparse, ipython-sql
  WARNING: The script sqlformat is installed in '/home/dsxuser/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.3.1

In [5]:
%reload_ext sql

Service Credentials->Paste 'URI' After %sql ibm_db_sa://

In [6]:
%sql ibm_db_sa://fbp37807:t7f65qdvvq%2B333zm@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB

Problem 1
Find the total number of crimes recorded in the CRIME table

In [16]:
%sql SELECT COUNT(*) from CHIC_CRIME

 * ibm_db_sa://fbp37807:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('118'),)]

Retrieve first 10 rows from the CRIME table.

In [36]:
%sql SELECT * FROM CHIC_CRIME LIMIT 10

 * ibm_db_sa://fbp37807:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(8002131, 'HT233595', datetime.datetime(2011, 4, 4, 5, 45), '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'FALSE', 'FALSE', 221, 2, 3, 38, '6', 1177436, 1876313, 2011, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.81593313'), Decimal('-87.62464213'), '(41.815933131, -87.624642127)'),
 (10402076, 'HZ138551', datetime.datetime(2016, 2, 2, 19, 30), '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 'FALSE', 'FALSE', 831, 8, 15, 66, '6', 1155240, 1860661, 2016, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.77345530'), Decimal('-87.70648047'), '(41.773455295, -87.706480471)'),
 (9681782, 'HX332132', datetime.datetime(2014, 4, 7, 21, 45), '079XX S STATE ST', '820', 'THEFT', '$500 AND UNDER', 'CTA PLATFORM', 'FALSE', 'FALSE', 623, 6, 6, 44, '6', 1177660, 1852569, 2014, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.75077211'), Decimal('-87.62453842'), '(41.750772111, -87.624538423)'),
 (9166453, 'HW303994', datetime.datetime(2013, 4, 6, 9, 0), '055XX W GLADYS AVE', '810', 'THEFT', 'OVER $500', 'VACANT LOT/LAND', 'FALSE', 'FALSE', 1522, 15, 29, 25, '6', 1139693, 1897797, 2013, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.87565911'), Decimal('-87.76256886'), '(41.875659108, -87.762568861)'),
 (7172285, 'HR582990', datetime.datetime(2009, 11, 10, 19, 0), '060XX S HALSTED ST', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 712, 7, 16, 68, '6', 1171999, 1865041, 2009, datetime.datetime(2016, 4, 2, 6, 33, 39), Decimal('41.78512289'), Decimal('-87.64491718'), '(41.785122891, -87.644917177)'),
 (9296677, 'HW441620', datetime.datetime(2013, 7, 9, 2, 30), '066XX S WESTERN AVE', '820', 'THEFT', '$500 AND UNDER', 'STREET', 'FALSE', 'FALSE', 832, 8, 15, 66, '6', 1161515, 1860616, 2013, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.77320400'), Decimal('-87.68347884'), '(41.773203996, -87.68347884)'),
 (7173960, 'HR583513', datetime.datetime(2009, 11, 10, 17, 0), '079XX S PARNELL AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 621, 6, 17, 44, '6', 1174008, 1852295, 2009, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.75010200'), Decimal('-87.63792916'), '(41.750101999, -87.637929163)'),
 (3314082, 'HK350670', datetime.datetime(2004, 7, 5, 19, 0), '031XX N BROADWAY', '860', 'THEFT', 'RETAIL THEFT', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 2332, 19, 44, 6, '6', 1171693, 1921311, 2004, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.93953877'), Decimal('-87.64438351'), '(41.939538767, -87.644383505)'),
 (4718689, 'HM324025', datetime.datetime(2006, 1, 5, 15, 20), '0000X W ELM ST', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 'TRUE', 'FALSE', 1824, 18, 42, 8, '6', 1175504, 1908078, 2006, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.90314200'), Decimal('-87.63077557'), '(41.903141995, -87.63077557)'),
 (10190267, 'HY377901', datetime.datetime(2015, 10, 8, 21, 0), '026XX N MILWAUKEE AVE', '810', 'THEFT', 'OVER $500', 'SIDEWALK', 'FALSE', 'FALSE', 1412, 14, 35, 22, '6', 1154504, 1917426, 2015, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.92923973'), Decimal('-87.70766234'), '(41.929239732, -87.707662339)'),
 (3704662, 'HK801112', datetime.datetime(2004, 10, 12, 9, 30), '055XX S WELLS ST', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 711, 7, 3, 68, '6', 1175549, 1868101, 2004, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.79344111'), Decimal('-87.63180984'), '(41.793441113, -87.631809838)'),
 (7724785, 'HS532107', datetime.datetime(2010, 11, 9, 23, 50), '065XX S ST LAWRENCE AVE', '890', 'THEFT', 'FROM BUILDING', 'APARTMENT', 'FALSE', 'FALSE', 321, 3, 20, 42, '6', 1181360, 1861718, 2010, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.77579347'), Decimal('-87.61069831'), '(41.775793468, -87.61069831)'),
 (10485657, 'HZ224258', datetime.datetime(2016, 12, 4, 19, 15), '017XX N LUNA AVE', '820', 'THEFT', '$500 AND UNDER', 'STREET', 'FALSE', 'FALSE', 2532, 25, 37, 25, '6', 1139131, 1911034, 2016, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.91199331'), Decimal('-87.76431002'), '(41.911993311, -87.764310023)'),
 (11143628, 'JA503725', datetime.datetime(2017, 8, 11, 10, 38), '058XX S ASHLAND AVE', '820', 'THEFT', '$500 AND UNDER', 'STREET', 'TRUE', 'FALSE', 713, 7, 15, 67, '6', 1166676, 1865801, 2017, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.78732372'), Decimal('-87.66441195'), '(41.787323718, -87.664411954)'),
 (4153041, 'HL005270', datetime.datetime(2005, 12, 7, 23, 0), '008XX N CICERO AVE', '820', 'THEFT', '$500 AND UNDER', 'GAS STATION', 'FALSE', 'FALSE', 1111, 11, 37, 25, '6', 1144207, 1904963, 2005, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.89523990'), Decimal('-87.74581479'), '(41.895239896, -87.745814792)'),
 (10102551, 'HY291329', datetime.datetime(2015, 6, 6, 16, 42), '028XX W DEVON AVE', '860', 'THEFT', 'RETAIL THEFT', 'DRUG STORE', 'FALSE', 'FALSE', 2413, 24, 50, 2, '6', 1156278, 1942331, 2015, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.99754480'), Decimal('-87.70046744'), '(41.997544797, -87.700467444)'),
 (10225755, 'HY412959', datetime.datetime(2015, 5, 9, 23, 0), '065XX S HOYNE AVE', '820', 'THEFT', '$500 AND UNDER', 'RESIDENCE', 'FALSE', 'FALSE', 726, 7, 15, 67, '6', 1163490, 1861218, 2015, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.77481479'), Decimal('-87.67622207'), '(41.774814785, -87.676222073)'),
 (9682442, 'HX332979', datetime.datetime(2014, 5, 7, 23, 0), '042XX W 55TH ST', '820', 'THEFT', '$500 AND UNDER', 'APARTMENT', 'FALSE', 'TRUE', 813, 8, 13, 62, '6', 1148818, 1867790, 2014, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.79314445'), Decimal('-87.72983895'), '(41.793144448, -87.729838952)'),
 (11048967, 'JA384163', datetime.datetime(2017, 2, 8, 5, 0), '028XX N Maplewood Ave', '820', 'THEFT', '$500 AND UNDER', 'RESIDENCE', 'FALSE', 'FALSE', 1411, 14, 1, 21, '6', 1158865, 1918857, 2017, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.93307805'), Decimal('-87.69159758'), '(41.933078052, -87.691597583)'),
 (2975480, 'HJ672058', datetime.datetime(2003, 1, 10, 22, 0), '016XX N OAKLEY AVE', '820', 'THEFT', '$500 AND UNDER', 'STREET', 'FALSE', 'FALSE', 1434, 14, 1, 24, '6', 1160770, 1911006, 2003, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.91149502'), Decimal('-87.68481506'), '(41.911495021, -87.684815055)'),
 (10409937, 'HZ146741', datetime.datetime(2016, 9, 2, 14, 0), '006XX W 87TH ST', '820', 'THEFT', '$500 AND UNDER', 'STREET', 'FALSE', 'FALSE', 622, 6, 21, 71, '6', 1173383, 1847259, 2016, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.73629640'), Decimal('-87.64036804'), '(41.736296397, -87.64036804)'),
 (6231712, 'HP317516', datetime.datetime(2008, 5, 5, 3, 55), '061XX S NARRAGANSETT AVE', '820', 'THEFT', '$500 AND UNDER', 'STREET', 'FALSE', 'FALSE', 812, 8, 23, 64, '6', 1134794, 1863173, 2008, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.78073320'), Decimal('-87.78137324'), '(41.7807332, -87.781373244)'),
 (10585295, 'HZ335434', datetime.datetime(2016, 3, 7, 20, 0), '040XX N KEDVALE AVE', '820', 'THEFT', '$500 AND UNDER', 'STREET', 'FALSE', 'FALSE', 1722, 17, 39, 16, '6', 1148122, 1926708, 2016, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.95483572'), Decimal('-87.73087472'), '(41.95483572, -87.730874723)'),
 (7054414, 'HR460350', datetime.datetime(2009, 1, 8, 14, 45), '062XX S PAULINA ST', '820', 'THEFT', '$500 AND UNDER', 'STREET', 'FALSE', 'FALSE', 714, 7, 15, 67, '6', 1166078, 1863385, 2009, datetime.datetime(2016, 4, 2, 6, 33, 39), Decimal('41.78070666'), Decimal('-87.66667324'), '(41.780706656, -87.666673244)'),
 (4533063, 'HM117889', datetime.datetime(2006, 11, 1, 7, 30), '010XX E 111TH ST', '810', 'THEFT', 'OVER $500', 'OTHER', 'FALSE', 'FALSE', 513, 5, 9, 50, '6', 1184891, 1831392, 2006, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.69249346'), Decimal('-87.59870306'), '(41.692493455, -87.598703055)'),
 (7166946, 'HR576816', datetime.datetime(2009, 7, 10, 19, 0), '045XX N KEDZIE AVE', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 'FALSE', 'FALSE', 1724, 17, 33, 14, '6', 1154233, 1929942, 2009, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.96358994'), Decimal('-87.70832281'), '(41.963589941, -87.708322812)'),
 (7646435, 'HS451246', datetime.datetime(2010, 7, 8, 21, 45), '023XX W ROSCOE ST', '460', 'BATTERY', 'SIMPLE', 'SIDEWALK', 'TRUE', 'FALSE', 1913, 19, 32, 5, '08B', 1160352, 1922529, 2010, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.94312358'), Decimal('-87.68603108'), '(41.943123577, -87.686031082)'),
 (10179921, 'HY368284', datetime.datetime(2015, 4, 8, 4, 20), '024XX S TROY ST', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'APARTMENT', 'TRUE', 'TRUE', 1033, 10, 12, 30, '08B', 1155747, 1887668, 2015, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.84755595'), Decimal('-87.70389680'), '(41.847555951, -87.703896798)'),
 (8142216, 'HT375934', datetime.datetime(2011, 1, 7, 22, 0), '058XX S SANGAMON ST', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'SIDEWALK', 'FALSE', 'TRUE', 712, 7, 16, 68, '08B', 1170970, 1866261, 2011, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.78849326'), Decimal('-87.64865431'), '(41.788493256, -87.648654314)'),
 (8155450, 'HT390647', datetime.datetime(2011, 10, 7, 23, 10), '033XX W MAYPOLE AVE', '460', 'BATTERY', 'SIMPLE', 'SIDEWALK', 'FALSE', 'FALSE', 1123, 11, 28, 27, '08B', 1154131, 1900784, 2011, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.88358005'), Decimal('-87.70947777'), '(41.883580046, -87.709477772)'),
 (9806771, 'HX455839', datetime.datetime(2014, 5, 10, 9, 10), '096XX S WOODLAWN AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'RESIDENCE', 'FALSE', 'TRUE', 511, 5, 8, 50, '08B', 1185895, 1841338, 2014, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.71976292'), Decimal('-87.59471496'), '(41.719762924, -87.594714959)'),
 (9337353, 'HW481295', datetime.datetime(2013, 5, 10, 19, 14), '016XX S ST LOUIS AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'APARTMENT', 'TRUE', 'TRUE', 1021, 10, 24, 29, '08B', 1153305, 1891618, 2013, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.85844398'), Decimal('-87.71275427'), '(41.858443981, -87.712754265)'),
 (11277173, 'JB213238', datetime.datetime(2018, 6, 4, 1, 0), '022XX N PARKSIDE AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'RESIDENCE', 'FALSE', 'TRUE', 2515, 25, 37, 19, '08B', 1138350, 1914356, 2018, datetime.datetime(2018, 4, 5, 15, 51, 4), Decimal('41.92112344'), Decimal('-87.76709866'), '(41.92112344, -87.767098657)'),
 (7787295, 'HS595785', datetime.datetime(2010, 1, 11, 15, 0), '079XX S ESSEX AVE', '460', 'BATTERY', 'SIMPLE', 'SIDEWALK', 'FALSE', 'FALSE', 422, 4, 7, 46, '08B', 1194232, 1852910, 2010, datetime.datetime(2016, 4, 2, 6, 33, 39), Decimal('41.75131717'), Decimal('-87.56380046'), '(41.751317167, -87.563800456)'),
 (7002482, 'HR408597', datetime.datetime(2009, 3, 7, 1, 45), '030XX W JACKSON BLVD', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'RESIDENCE', 'FALSE', 'TRUE', 1124, 11, 28, 27, '08B', 1156002, 1898529, 2009, datetime.datetime(2016, 4, 2, 6, 33, 39), Decimal('41.87735457'), Decimal('-87.70266813'), '(41.877354573, -87.702668131)'),
 (7692081, 'HS498285', datetime.datetime(2010, 4, 9, 5, 30), '006XX W MELROSE ST', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'APARTMENT', 'FALSE', 'TRUE', 2332, 19, 44, 6, '08B', 1171428, 1921885, 2010, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.94111969'), Decimal('-87.64534052'), '(41.941119685, -87.645340518)'),
 (2679112, 'HJ294892', datetime.datetime(2003, 11, 4, 22, 30), '048XX W HURON ST', '460', 'BATTERY', 'SIMPLE', 'RESIDENCE', 'FALSE', 'FALSE', 1532, 15, 28, 25, '08B', 1143908, 1904200, 2003, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.89315175'), Decimal('-87.74693211'), '(41.893151749, -87.746932109)'),
 (11110571, 'JA460432', datetime.datetime(2017, 5, 10, 14, 35), '076XX S HOMAN AVE', '460', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS', 'FALSE', 'FALSE', 835, 8, 18, 70, '08B', 1155024, 1853614, 2017, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.75412154'), Decimal('-87.70746025'), '(41.754121535, -87.707460248)'),
 (9035595, 'HW182288', datetime.datetime(2013, 6, 3, 21, 45), '046XX S LANGLEY AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'RESIDENCE', 'FALSE', 'TRUE', 221, 2, 4, 38, '08B', 1181712, 1874461, 2013, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.81075326'), Decimal('-87.60901434'), '(41.810753256, -87.609014335)'),
 (10549382, 'HZ295843', datetime.datetime(2016, 6, 6, 14, 15), '015XX S HOMAN AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'STREET', 'FALSE', 'TRUE', 1021, 10, 24, 29, '08B', 1153951, 1892227, 2016, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.86010231'), Decimal('-87.71036680'), '(41.860102309, -87.710366798)'),
 (9116765, 'HW261668', datetime.datetime(2013, 5, 5, 19, 25), '003XX N PULASKI RD', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'RESIDENCE', 'FALSE', 'TRUE', 1114, 11, 28, 26, '08B', 1149673, 1901704, 2013, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.88619239'), Decimal('-87.72582411'), '(41.886192389, -87.725824111)'),
 (11137994, 'JA496716', datetime.datetime(2017, 2, 11, 23, 22), '008XX N WASHTENAW AVE', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'RESIDENCE', 'TRUE', 'TRUE', 1211, 12, 26, 24, '08B', 1158244, 1905393, 2017, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.89614452'), Decimal('-87.69424841'), '(41.896144516, -87.694248407)'),
 (11014534, 'JA344492', datetime.datetime(2017, 12, 7, 3, 0), '009XX E 132ND PL', '486', 'BATTERY', 'DOMESTIC BATTERY SIMPLE', 'APARTMENT', 'TRUE', 'TRUE', 533, 5, 9, 54, '08B', 1185380, 1817834, 2017, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.65527698'), Decimal('-87.59733674'), '(41.655276978, -87.597336736)'),
 (10584429, 'HZ334220', datetime.datetime(2016, 3, 7, 18, 30), '023XX W PRATT BLVD', '460', 'BATTERY', 'SIMPLE', 'STREET', 'TRUE', 'FALSE', 2412, 24, 50, 2, '08B', 1159476, 1945090, 2016, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('42.00505013'), Decimal('-87.68862676'), '(42.005050125, -87.68862676)'),
 (8594911, 'HV268964', datetime.datetime(2012, 2, 5, 17, 0), '030XX S HAYNES CT', '1320', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'STREET', 'FALSE', 'FALSE', 913, 9, 11, 60, '14', 1168714, 1884562, 2012, datetime.datetime(2016, 4, 2, 6, 33, 39), Decimal('41.83876214'), Decimal('-87.65639763'), '(41.838762141, -87.65639763)'),
 (8388644, 'HT621306', datetime.datetime(2011, 6, 12, 18, 30), '067XX W IMLAY ST', '1320', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'STREET', 'FALSE', 'FALSE', 1611, 16, 41, 10, '14', 1130269, 1942692, 2011, datetime.datetime(2016, 4, 2, 6, 33, 39), Decimal('41.99902303'), Decimal('-87.79613800'), '(41.99902303, -87.796137998)'),
 (7881407, 'HT112422', datetime.datetime(2011, 9, 1, 18, 27), '039XX S ROCKWELL ST', '1310', 'CRIMINAL DAMAGE', 'TO PROPERTY', 'RESIDENCE', 'FALSE', 'FALSE', 914, 9, 12, 58, '14', 1159685, 1878264, 2011, datetime.datetime(2016, 4, 2, 6, 33, 39), Decimal('41.82167019'), Decimal('-87.68970283'), '(41.821670189, -87.689702831)'),
 (8921352, 'HV592346', datetime.datetime(2012, 7, 12, 3, 0), '016XX N KILDARE AVE', '1320', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'STREET', 'FALSE', 'FALSE', 2534, 25, 30, 23, '14', 1147474, 1910521, 2012, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.91042961'), Decimal('-87.73367311'), '(41.910429612, -87.733673107)'),
 (10624311, 'HZ376709', datetime.datetime(2016, 3, 8, 15, 20), '079XX S INGLESIDE AVE', '1310', 'CRIMINAL DAMAGE', 'TO PROPERTY', 'APARTMENT', 'FALSE', 'FALSE', 624, 6, 8, 44, '14', 1183941, 1852494, 2016, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.75042201'), Decimal('-87.60152439'), '(41.750422009, -87.601524389)'),
 (3906764, 'HL269210', datetime.datetime(2005, 1, 4, 20, 30), '033XX W DICKENS AVE', '1320', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'STREET', 'FALSE', 'FALSE', 1413, 14, 26, 22, '14', 1153647, 1913754, 2005, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.91918058'), Decimal('-87.71090952'), '(41.919180579, -87.710909516)'),
 (4249096, 'HL567458', datetime.datetime(2005, 11, 8, 14, 30), '066XX S CALIFORNIA AVE', '1310', 'CRIMINAL DAMAGE', 'TO PROPERTY', 'RESIDENCE', 'TRUE', 'FALSE', 831, 8, 15, 66, '14', 1158855, 1860454, 2005, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.77281419'), Decimal('-87.69323424'), '(41.772814187, -87.693234244)'),
 (7399281, 'HS200939', datetime.datetime(2010, 10, 3, 14, 50), '053XX W CONGRESS PKWY', '1320', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS', 'FALSE', 'FALSE', 1522, 15, 29, 25, '14', 1140822, 1897164, 2010, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.87390140'), Decimal('-87.75843910'), '(41.873901397, -87.758439102)'),
 (4728934, 'HM337445', datetime.datetime(2006, 7, 5, 21, 0), '028XX N LARAMIE AVE', '1320', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'STREET', 'FALSE', 'TRUE', 2514, 25, 31, 19, '14', 1141225, 1918275, 2006, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.93182501'), Decimal('-87.75643821'), '(41.931825006, -87.756438211)'),
 (9491052, 'HX145326', datetime.datetime(2014, 9, 2, 8, 0), '027XX S SACRAMENTO AVE', '1310', 'CRIMINAL DAMAGE', 'TO PROPERTY', 'RESIDENCE', 'FALSE', 'FALSE', 1033, 10, 12, 30, '14', 1156803, 1885759, 2014, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.84229613'), Decimal('-87.70007290'), '(41.842296132, -87.700072904)'),
 (10218934, 'HY405637', datetime.datetime(2015, 1, 9, 9, 0), '057XX S CAMPBELL AVE', '1310', 'CRIMINAL DAMAGE', 'TO PROPERTY', 'APARTMENT', 'FALSE', 'TRUE', 824, 8, 16, 63, '14', 1160682, 1866595, 2015, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.78962843'), Decimal('-87.68636753'), '(41.789628428, -87.686367529)'),
 (8690635, 'HV366181', datetime.datetime(2012, 4, 7, 9, 30), '021XX E 87TH ST', '1320', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'STREET', 'FALSE', 'FALSE', 412, 4, 8, 48, '14', 1192134, 1847716, 2012, datetime.datetime(2016, 4, 2, 6, 33, 39), Decimal('41.73711561'), Decimal('-87.57165693'), '(41.737115609, -87.57165693)'),
 (8652732, 'HV328581', datetime.datetime(2012, 10, 6, 23, 53), '137XX S BRAINARD AVE', '1811', 'NARCOTICS', 'POSS: CANNABIS 30GMS OR LESS', 'OTHER COMMERCIAL TRANSPORTATION', 'TRUE', 'FALSE', 433, 4, 10, 55, '18', 1200405, 1814512, 2012, datetime.datetime(2016, 4, 2, 6, 33, 39), Decimal('41.64579585'), Decimal('-87.54247201'), '(41.645795847, -87.542472012)'),
 (8592856, 'HV267193', datetime.datetime(2012, 2, 5, 0, 1), '001XX W 87TH ST', '1811', 'NARCOTICS', 'POSS: CANNABIS 30GMS OR LESS', 'PARKING LOT/GARAGE(NON.RESID.)', 'TRUE', 'FALSE', 634, 6, 21, 44, '18', 1176671, 1847269, 2012, datetime.datetime(2016, 4, 2, 6, 33, 39), Decimal('41.73625056'), Decimal('-87.62832169'), '(41.736250559, -87.628321692)'),
 (7692354, 'HS498920', datetime.datetime(2010, 4, 9, 14, 22), '071XX S STONY ISLAND AVE', '1811', 'NARCOTICS', 'POSS: CANNABIS 30GMS OR LESS', 'STREET', 'TRUE', 'FALSE', 324, 3, 5, 43, '18', 1188152, 1858101, 2010, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.76570880'), Decimal('-87.58591505'), '(41.765708803, -87.58591505)'),
 (10177662, 'HY365876', datetime.datetime(2015, 2, 8, 10, 47), '041XX W 87TH ST', '1811', 'NARCOTICS', 'POSS: CANNABIS 30GMS OR LESS', 'STREET', 'TRUE', 'FALSE', 834, 8, 18, 70, '18', 1150504, 1846544, 2015, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.73480925'), Decimal('-87.72420818'), '(41.734809253, -87.724208178)'),
 (8508682, 'HV185969', datetime.datetime(2012, 6, 3, 19, 4), '003XX S WESTERN AVE', '1811', 'NARCOTICS', 'POSS: CANNABIS 30GMS OR LESS', 'SIDEWALK', 'TRUE', 'FALSE', 1125, 11, 2, 28, '18', 1160452, 1898418, 2012, datetime.datetime(2018, 10, 2, 15, 50, 1), Decimal('41.87695909'), Decimal('-87.68633201'), '(41.876959088, -87.686332007)'),

# PROBLEM 3
How many crimes involve an arrest.

In [28]:
%sql SELECT COUNT(*) from CHIC_CRIME where arrest = TRUE;

 * ibm_db_sa://fbp37807:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('40'),)]

In [31]:
%sql SELECT primary_type from CHIC_CRIME where arrest = TRUE\
group by primary_type;

 * ibm_db_sa://fbp37807:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CONCEALED CARRY LICENSE VIOLATION',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('GAMBLING',),
 ('HOMICIDE',),
 ('NARCOTICS',),
 ('OTHER NARCOTIC VIOLATION',),
 ('OTHER OFFENSE',),
 ('PROSTITUTION',),
 ('PUBLIC INDECENCY',),
 ('ROBBERY',),
 ('SEX OFFENSE',),
 ('THEFT',),
 ('WEAPONS VIOLATION',)]

# PROBLEM 4
Which unique types of crimes (e.g. THEFT) have been recorded at a GAS STATION locations?

In [37]:
%sql SELECT DISTINCT primary_type\
FROM CHIC_CRIME\
where location_description = 'GAS STATION';

 * ibm_db_sa://fbp37807:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('ROBBERY',), ('THEFT',)]

# PROBLEM 5
 In the CENUS_DATA table list all community areas whose names start with the letter ‘B’.

In [43]:
%sql SELECT * FROM CHI_SOCIO_ECONOMIC\
LIMIT 10;

 * ibm_db_sa://fbp37807:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(1, 'Rogers Park', Decimal('7.7'), Decimal('23.6'), Decimal('8.7'), Decimal('18.2'), Decimal('27.5'), 23939, 39),
 (2, 'West Ridge', Decimal('7.8'), Decimal('17.2'), Decimal('8.8'), Decimal('20.8'), Decimal('38.5'), 23040, 46),
 (3, 'Uptown', Decimal('3.8'), Decimal('24.0'), Decimal('8.9'), Decimal('11.8'), Decimal('22.2'), 35787, 20),
 (4, 'Lincoln Square', Decimal('3.4'), Decimal('10.9'), Decimal('8.2'), Decimal('13.4'), Decimal('25.5'), 37524, 17),
 (5, 'North Center', Decimal('0.3'), Decimal('7.5'), Decimal('5.2'), Decimal('4.5'), Decimal('26.2'), 57123, 6),
 (6, 'Lake View', Decimal('1.1'), Decimal('11.4'), Decimal('4.7'), Decimal('2.6'), Decimal('17.0'), 60058, 5),
 (7, 'Lincoln Park', Decimal('0.8'), Decimal('12.3'), Decimal('5.1'), Decimal('3.6'), Decimal('21.5'), 71551, 2),
 (8, 'Near North Side', Decimal('1.9'), Decimal('12.9'), Decimal('7.0'), Decimal('2.5'), Decimal('22.6'), 88669, 1),
 (9, 'Edison Park', Decimal('1.1'), Decimal('3.3'), Decimal('6.5'), Decimal('7.4'), Decimal('35.3'), 40959, 8),
 (10, 'Norwood Park', Decimal('2.0'), Decimal('5.4'), Decimal('9.0'), Decimal('11.5'), Decimal('39.5'), 32875, 21)]

In [46]:
%sql SELECT * FROM CHI_SOCIO_ECONOMIC\
WHERE community_area_name like 'B%';

 * ibm_db_sa://fbp37807:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(19, 'Belmont Cragin', Decimal('10.8'), Decimal('18.7'), Decimal('14.6'), Decimal('37.3'), Decimal('37.3'), 15461, 70),
 (47, 'Burnside', Decimal('6.8'), Decimal('33.0'), Decimal('18.6'), Decimal('19.3'), Decimal('42.7'), 12515, 79),
 (58, 'Brighton Park', Decimal('14.4'), Decimal('23.6'), Decimal('13.9'), Decimal('45.1'), Decimal('39.3'), 13089, 84),
 (60, 'Bridgeport', Decimal('4.5'), Decimal('18.9'), Decimal('13.7'), Decimal('22.2'), Decimal('31.3'), 22694, 43),
 (72, 'Beverly', Decimal('0.9'), Decimal('5.1'), Decimal('8.0'), Decimal('3.7'), Decimal('40.5'), 39523, 12)]

# Problem 5
List the schools in community areas 10 to 15 that are healthy school certified.

In [54]:
%sql SELECT * FROM CHI_PUBLIC_SCHOOLS limit 3

 * ibm_db_sa://fbp37807:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99, 'Very Strong', '99', 'Strong', 74, 'Strong', 66, 'Strong', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', Decimal('2.0'), '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', Decimal('69.7'), Decimal('64.4'), Decimal('0.2'), Decimal('0.9'), 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', Decimal('1171699.458'), Decimal('1915829.428'), Decimal('41.92449696'), Decimal('-87.64452163'), 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54, 'Strong', '66', 'Strong', 74, 'Very Strong', 84, 'Strong', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', Decimal('15.7'), '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', Decimal('16.8'), Decimal('16.5'), Decimal('0.7'), Decimal('1.4'), 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', Decimal('1196129.985'), Decimal('1856209.466'), Decimal('41.76032435'), Decimal('-87.55673627'), 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)'),
 (610185, 'Adlai E Stevenson Elementary School', 'ES', '8010 S Kostner Ave', 'Chicago', 'IL', 60652, '(773) 535-2280', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf', 'Midway Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 61, 'NDA', 'NDA', 'Average', 50, 'Weak', 36, 'NDA', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Weak', '41', '95.70%', Decimal('2.3'), '94.70%', '98.30%', '53.7', '26.6', '38.3', '34.7', '43.7', '57.3', '48.8', '39.2', '46.8', '44', '7.5', '21.9', Decimal('18.3'), Decimal('15.5'), Decimal('-0.9'), Decimal('-1.0'), 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1324, 44, 'NDA', Decimal('1148427.165'), Decimal('1851012.215'), Decimal('41.74711093'), Decimal('-87.73170248'), 70, 'ASHBURN', 13, 8, '(41.74711093, -87.73170248)')]

In [73]:
%sql SELECT name_of_school FROM (SELECT name_of_school,healthy_school_certified,community_area_number FROM CHI_PUBLIC_SCHOOLS WHERE\
community_area_number BETWEEN 10 AND 15) AS community_10_15\
WHERE healthy_school_certified ='Yes';

 * ibm_db_sa://fbp37807:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Rufus M Hitch Elementary School',)]

In [79]:
%sql Select avg(safety_score) from CHI_PUBLIC_SCHOOLS;

 * ibm_db_sa://fbp37807:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

# Problem 8
Find the top 5 Community Areas by average College Enrollment [number of students].

In [103]:
%sql select community_area_name, avg(college_enrollment) as number_of_students from CHI_PUBLIC_SCHOOLS\
group by community_area_name\
order by number_of_students desc fetch first 5 rows\
only;

 * ibm_db_sa://fbp37807:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('ARCHER HEIGHTS', Decimal('2411.500000')),
 ('MONTCLARE', Decimal('1317.000000')),
 ('WEST ELSDON', Decimal('1233.333333')),
 ('BRIGHTON PARK', Decimal('1205.875000')),
 ('BELMONT CRAGIN', Decimal('1198.833333'))]

# Problem 9
Use a sub-query todeterminewhich Community Area has the least value for school Safety Score?

In [13]:
%sql select community_area_name from CHI_SOCIO_ECONOMIC \
where community_area_number = \
(select community_area_number from CHI_PUBLIC_SCHOOLS order by safety_score limit 1);

 * ibm_db_sa://fbp37807:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Washington Park',)]

# Problem 10
## [Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score of 1.

In [16]:
%sql SELECT per_capita_income,community_area_name from CHI_SOCIO_ECONOMIC\
where community_area_number =(SELECT community_area_number from CHI_PUBLIC_SCHOOLS where safety_score=1);

 * ibm_db_sa://fbp37807:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(13785, 'Washington Park')]